# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mess-monitor\Mess-Monitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
